/* enroll page*/
.grid {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.showcase .grid{
    grid-template-columns: 55% 44%;
    overflow: visible;
}

.card {
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(204, 201, 201);
    padding: 20px;
    margin: 10px;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'], 
.showcase-form input[type='email'] {
    border : 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

